*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#projets {
    background-color: #113E37;
}

.titre{
    color: #31796C;
    text-align: left;
    font-size: 200%;
    font-family: 'Neucha', cursive;
    font-weight: bold;
    padding-top: 2%;
    padding-left: 1%;
    padding-bottom: 4%;
}

figure{
    display: flex;
    width: 100%;
}

.box{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#Carousel_Menu{
    padding-top: 5%;
    position:relative; 
    width: 100%;
    padding-left: 60%;
}

#services {
    background-color: #113E37;
}

div#scroll figure p.name{
    color: #31796C;
    font-family: 'Neucha', cursive;
    font-size: 1.4em;
    font-weight: bold;
    text-align: center;
}

div#scroll figure img { 
    min-height: 180px; 
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 20px 20px 20px 20px;
}

div#scroll figure p{
    color: #31796C;
    width: 80%;
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Roboto Slab', serif;
    text-align: justify;
}

footer{
    padding-top: 10px;
    padding-bottom: 10px;
    height: 100%;
    width: 100%;
    background-color: #353535;
    color: white;
    text-align: center;
}

i{
    padding:0.5%;
}
