*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

/* ------------- Règlès communes --------------*/
body {
    background-color: #CFC7B1;
    font-family: 'Roboto', sans-serif;
}
p {
    color: #31796C;
    font-size: 24px;
}
h2 {
    font-size: 48px;
    color: #113E37;
}
h3 {
    font-size: 36px;
    color: #113E37;
}
.my_main_section {
    padding: 10% 5% 10% 10%;
}

/* -------------^ Règlès communes ^--------------*/

/* ------------- Architecture --------------*/
.container-global{
    height:100vh;
    /*background-color: red;*/ /*construction*/
    /* Flexbox pour que toutes vos section soit dans l'ordre et en colonnes */
    display: flex;
    flex-direction: column;
}

.section-box{
    height:100vh;
   /* background-color: #3A7457;*/ /*construction*/
    /* Flexbox pour juste aligner les deux boites enfants  */
    display: flex;
    /*padding:20px;*/ /*construction*/
}

.side-left{
    height:100vh;
    width:20%;
    /*background-color: yellow;*/
    /*margin:5px;*/ /*construction*/
}

.side-right{
    height:100vh;
    width:80%;
    /*background-color: yellow;*/ /*construction*/
   /* margin-left:5px;*/ /*construction*/
}

.nav{
    height:100vh;
    /*background-color: purple;*/ /*construction*/
    /* Taille en largeur de la barre de navigation */
    width:20vw;
    /* Position fixée pour le scroll */
    position: fixed;
    /* z-index pour que la nav passe au premier plan tout le temps */
    z-index: 9999;
}
/* ------------- ^Architecture^ --------------*/

/* construction*/
/*.blue {
    border: 3px solid blue;
}*/
/*.red {
   border: 2px solid red;
 }*/



/* ----------------partie HEADER --------------------*/
header {
    width: 20vw;
    height: 100vh;
    position: fixed;
}
nav {
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5%;
}
ul {
    padding-left: 5%;
    width: 40%;
    font-size: 20px;
    text-decoration: none;
}
li{
    list-style: none;
    margin-bottom: 20px ;
}
nav a {
    text-decoration: none;
    color: #1C5850;
}
nav a:hover {
    border-bottom: 2px solid #1C5850;
}
.ORIGAMI {
    width: auto;
    height: 85%;
}
.logo_box {
   margin:20% 0 0 10%;
    
}

/* ------------- LEFT SIDE and RIGHT SIDE coordination --------------*/
#us  {
    height: 100vh;
    
}
#us_leftside {
    height: 100vh;
}

#projets {
    background-color: #113E37;
    height: 100vh;
}
#projets_leftside {
    background-color: #113E37;
    height: 100vh;
}

#charte {
    height: 100vh;
}
#charte_leftside {
    height: 100vh;
}

#services {
    background-color: #113E37;
    height: 100vh; 
}
#services_leftside {
    background-color: #113E37;
    height: 100vh;
}

#footer {
    height:5vh;
    background-color: #353535;
}
#footer_leftside {
    height:5vh;
    background: #353535;
}


/* ------------- ABOUT US partie Lynn --------------*/

/* ------------- PARTIE PROJETS partie Steph --------------*/
#nos_projets {
    background-color: #113E37;
}

.titre{
    color: #31796C;
    text-align: left;
    font-size: 200%;
    font-family: 'Neucha', cursive;
    font-weight: bold;
    padding-top: 2%;
    padding-left: 1%;
    padding-bottom: 4%;
}

figure{
    display: flex;
    width: 100%;
}

.box{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#Carousel_Menu{
    padding-top: 5%;
    position:relative; 
    width: 100%;
    padding-left: 60%;
}

#nos_services {
    background-color: #113E37;
}

#link_services{
    text-decoration: none;
}

#nos_services .titre:hover {
    background-color: #E5E5E5;
    color:#1C5850;
    transition-duration: 1s;
    transition-delay: 0.2s; /* Démarre au bout de 0,4s */
}

div#scroll figure a.name{
    color: #31796C;
    text-decoration: none;
    font-family: 'Neucha', cursive;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 2%;
}

div#scroll figure a.name:hover{
    color: #E5E5E5;
    transition-duration: 1s;
    transition-delay: 0.1s; /* Démarre au bout de 0,4s */
}


div#scroll figure img { 
    min-height: 180px; 
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 20px 20px 20px 20px;
}

div#scroll figure p{
    color: #31796C;
    width: 80%;
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Roboto Slab', serif;
    font-size: 1.2em;
    text-align: justify;
}

footer{
    padding-top: 10px;
    padding-bottom: 10px;
    height: 100%;
    width: 100%;
    background-color: #353535;
    color: white;
    text-align: center;
}

i{
    padding:0.5%;
}

/* ------------- PARTIE SERVICES partie Steph --------------*/
#partie_services {
    background-color:#E5E5E5;
    background-image: url(images_steph/Image.png);
    background-repeat: no-repeat;
    background-size: 60vw, 60vw;
    background-position: right;
}

.titre{
    padding-left: 1%;
    color: #31796C;
    text-align: left;
    font-size: 300%;
    font-family: 'Neucha', cursive;
    font-weight: bold;
    padding-top: 2%;
    padding-bottom: 5%;
}

#liste a{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    padding-left: 70%;
    padding-bottom: 2%;
    font-family: 'Neucha', cursive;
    font-weight: bold;
    font-size: 150%;
    color: #31796C;
}

div#liste_services .fig p.nom{
    color: #31796C;
    width: 100%;
    font-family: 'Neucha', cursive;
    font-size: 200%;
    font-weight: bold;
    text-align: center;
    margin-top: 2%;
    padding-bottom: 2%;
}

div#liste_services .fig img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    min-height: 180px; 
    border-radius: 20px 20px 20px 20px;
}

div#liste_services .fig p{
    color: #31796C;
    width: 30%;
    margin-right: auto;
    margin-left: auto;
    text-align: justify;
    font-family: 'Roboto Slab', serif;
    font-size: 150%;
    padding-top: 1%;
    padding-bottom: 8%;
}

footer{
    padding-top: 10px;
    padding-bottom: 10px;
    height: 100%;
    width: 100%;
    background-color: #353535;
    color: white;
    text-align: center;
}

i{
    padding:0.5%;
}






