
#charte {
background-color: #D9C48F;
color: #333 ;
padding: 5% 15%;
}

#titre {
  display: flex;
  justify-content: center;
}

/* post it */
#valeurs {
display: flex;
justify-content: space-around;
flex-wrap: nowrap ;
flex-direction: row;
align-items: stretch;
}

.postit1 {
  transform: rotate(-4deg);
  -moz-transform: rotate(-4deg);
  -webkit-transform: rotate(-4deg);
  -o-transform: rotate(-4deg);
  -ms-transform: rotate(-4deg);
}

.postit2 {
  transform: rotate(2deg);
  -moz-transform: rotate(2deg);
  -webkit-transform: rotate(2deg);
  -o-transform: rotate(2deg);
  -ms-transform: rotate(2deg);
}

.postit3 {
  transform: rotate(-2deg);
  -moz-transform: rotate(-2deg);
  -webkit-transform: rotate(-2deg);
  -o-transform: rotate(2deg);
  -ms-transform: rotate(2deg);
}

.texte {
  margin-top: 50px ;    
}
    
.note {
  background:#31796C ; 
  color: #333;
  width: 150px;
  padding: 15px;
  font-family: Satisfy;
  font-size: 15px;
  text-align: center;
  box-shadow: 0 10px 10px 2px rgba(0,0,0,0.3);
}

/*
889781
.postit1 {
    width: 70%;
    height: 100px;
    margin:  50px auto;
    background: linear-gradient(53deg,
      #ccfffc,
      #ffcccf );
     }

.postit1:hover{
transform: scale(1.1);
opacity:0.7;
}


  .note:hover {
    animation: mouvement 2s ease forwards;
}
@keyframes mouvement {  
    0% {
        transform: skewX(0deg);
    }
    100% {
        transform: skewX(10deg);
    }
}
*/


.note:hover {
  background-color:rgba(49,121,108, 0.95);
  animation: mouvement 0.4s ease forwards;
}

@keyframes mouvement {  
  0% {
      transform: rotate(0deg);
  }
  50% {
    transform: rotate(2deg);
}
  100% {
      transform: rotate(1deg);
  }


