*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

/* ------------- Règlès communes --------------*/
body {
    background-color: #CFC7B1;
    font-family: 'Roboto', sans-serif;
}
p {
    color: #31796C;
    font-size: 24px;
}
h2 {
    font-size: 48px;
    color: #113E37;
}
h3 {
    font-size: 36px;
    color: #113E37;
}
.my_main_section {
    padding: 10% 5% 10% 10%;
}

/* -------------^ Règlès communes ^--------------*/

/* ------------- Architecture --------------*/
.container-global{
    height:100vh;
    /*background-color: red;*/ /*construction*/
    /* Flexbox pour que toutes vos section soit dans l'ordre et en colonnes */
    display: flex;
    flex-direction: column;
}

.section-box{
    height:100vh;
   /* background-color: #3A7457;*/ /*construction*/
    /* Flexbox pour juste aligner les deux boites enfants  */
    display: flex;
    /*padding:20px;*/ /*construction*/
}

.side-left{
    height:100vh;
    width:20%;
    /*background-color: yellow;*/
    /*margin:5px;*/ /*construction*/
}

.side-right{
    height:100vh;
    width:80%;
    /*background-color: yellow;*/ /*construction*/
   /* margin-left:5px;*/ /*construction*/
}

.nav{
    height:100vh;
    /*background-color: purple;*/ /*construction*/
    /* Taille en largeur de la barre de navigation */
    width:20vw;
    /* Position fixée pour le scroll */
    position: fixed;
    /* z-index pour que la nav passe au premier plan tout le temps */
    z-index: 9999;
}
/* ------------- ^Architecture^ --------------*/

/* construction*/
/*.blue {
    border: 3px solid blue;
}*/
/*.red {
   border: 2px solid red;
 }*/



/* ----------------partie HEADER --------------------*/
header {
    width: 20vw;
    height: 100vh;
    position: fixed;
}
nav {
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5%;
}
ul {
    padding-left: 5%;
    width: 40%;
    font-size: 20px;
    text-decoration: none;
}
li{
    list-style: none;
    margin-bottom: 20px ;
}
nav a {
    text-decoration: none;
    color: #1C5850;
}
nav a:hover {
    border-bottom: 2px solid #1C5850;
}
.ORIGAMI {
    width: auto;
    height: 85%;
}
.logo_box {
   margin:20% 0 0 10%;
    
}

/* ------------- LEFT SIDE and RIGHT SIDE coordination --------------*/
#us  {
    height: 100vh;
    
}
#us_leftside {
    height: 100vh;
}

#projets {
    background-color: #113E37;
    height: 100vh;
}
#projets_leftside {
    background-color: #113E37;
    height: 100vh;
}

#charte {
    height: 100vh;
}
#charte_leftside {
    height: 100vh;
}

#services {
    background-color: #113E37;
    height: 100vh; 
}
#services_leftside {
    background-color: #113E37;
    height: 100vh;
}

#footer {
    height:5vh;
    background-color: #353535;
}
#footer_leftside {
    height:5vh;
    background: #353535;
}


/* ------------- ABOUT US partie Lynn --------------*/