*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    
    


}






body{
    
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    color:#1C5850;   
    background-color: #EBD8C2;
}


.haut{
    height: 35vw;
    width: 35vw;
    background-image: url(pic.png);
    background-repeat: no-repeat;
    background-size: 20vw, 20vw;
    background-position: right;
    

}



.childElement2{
    height: 25vw;
    width: 25vw;
    padding-top: 3vw;
  
    
   
    
}



.bas{
    height: auto;
    width: 35vw;
    display: flex;justify-content: center;
    flex-direction: column;
    display: block;
    

}

.bottom{
    height: 35vw;
    width: 100%;
    background-image: url(pic1.png);
    background-repeat: no-repeat;
    background-position: center;
    color: aliceblue;
    text-align: center;
    display: flex;
    align-items: flex-end;
    justify-content: center;

}
form{
    size: 3vw;
    height: 20vw;
    width: 100%;
}
input[type=text], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 3px solid #1C5850 ;
    background-color: #EBD8C2;

  
   
}


button {
    background-color: #1C5850;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 2vw;
    margin-left: 150px;
    width: 150px;  
    height: 40px;
}

    textarea{
        height: 7vw;
        margin-top: 2vw;
    }

    .box{
        height: 23.5vw;
        width: 100%;
        
        align-items: flex-end;
        margin-top: 15vw;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }


    .textbox{
        height: 10vw;
        width: 50%;
        border: solid #1C5850;
        align-items: flex-end;
        margin-top: 2vw;
        margin-left: 25%;
        text-align: center;
        

    }


    i{
        padding:0.5%;
    }
    

