*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #CFC7B1;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: row;
    color:#1C5850;   
}
main {
    display: flex;
    flex-direction: column;
    
}
section {
    /*width: 80vw ;*/
    /*position: absolute;*/
    right: 0;
    padding: 5% 15%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;   
    width: 100vw;
    
}
.section_container {
    width: 80vw;
    display: flex;
    justify-content: flex-end;
}
.red {
    /*border: 2px solid red;*/
}

/* partie HEADER */
header {
    width: 20vw;
    height: 100vh;
    position: fixed;
   /* background-color: white;*/
}
nav {
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5%;

}
ul {
    padding-left: 5%;
    width: 40%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-decoration: none;
}
li{
    list-style: none;
    margin-bottom: 20px ;
}
nav a {
    text-decoration: none;
    color: #1C5850;
}
nav a:hover {
    border-bottom: 2px solid #1C5850;
    color: #113E37;
}
.ORIGAMI {
    width: auto;
    height: 85%;
}
/* section a propos page d'accueil */
#us {
    height: 100vh;
}
#us p {
    width: 35%;
    margin-left: 30%;
    font-size: 20px;
}
#us p .suspensionvert {
    font-size: 38px;
    color: #246B61;
}
#us span {
    font-size: 60px;
    font-weight: bold;
}
#us h2 {
    font-size: 48px;
    margin-top: 20%;
}
.boximg img {
    height: 50%;
    margin-bottom: 30%;
}
.colorform {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-color: #246B61;
    position: absolute;
    bottom: 10%;
    left: 26%;
    z-index: -2;
}

/* page  about-us.html */
h1 {
    width: 100%;
    font-size: 40px;
    margin-bottom: 2%;
    
}
#about_us {
    display: flex;
    flex-direction: column;
    color: #246B61;
}
.container_leftsideimg {
    height: 70vh;
    display: flex;
    justify-content: space-between;
    border-top: 2px solid #5C7773;
    margin-bottom: 10%;
}
.container_rightsideimg {
    height: 70vh;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    border-top: 2px solid #5C7773;
    margin-bottom: 10%;
}
.container_leftsideimg img, .container_rightsideimg img {
    height: 100%;
}
.fiche_leftsideimg {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    padding: 2% 0;
}
.fiche_rightsideimg {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 2% 0;
}

#about_us h3 {
    /*background-color: #5C7773;*/
    color:#113E37;
    width: 100%;
    padding: 3% 0;
    font-size: 24px;
    text-align: center;  
    font-weight: lighter; 
    animation: appear 2s ease-out forwards; 
}
@keyframes appear{
    0%{
        background-color: #5C7773;
        opacity: 0;
        position: relative;
        top: -50px;
    }
    50% {
        background-color: #5C7773;
        opacity: 0.5;
        top: 5px;
    }
    100% {
        background-color: #5C7773;
        opacity: 1;
        top: 10px;
    }
}
.container_leftsideimg h2 {
    align-self:flex-end;
    position: relative;
    bottom: 150px;
    right: 130px;
    font-size: 30px;  
    animation: fromleft 2s ease forwards;
}
@keyframes fromleft{
    0%{
        
        opacity: 0;
        position: relative;
        left: -150px;
    }
    50% {
        
        opacity: 0.5;
        left: -60px;
    }
    100% {
        
        opacity: 1;
        left: -50px;
    }
}

.container_rightsideimg h2 {
    align-self:flex-end;
    position: relative;
    bottom: 150px;
    left: 130px;
    font-size: 30px;
    animation: fromright 2s ease forwards;   
}
@keyframes fromright{
    0%{
        
        opacity: 0;
        position: relative;
        left: 150px;
    }
    50% {
        
        opacity: 0.5;
        left: 60px;
    }
    100% {
        
        opacity: 1;
        left: 50px;
    }
}
.moving_img {
    transform: perspective(1000px);
}


/*---------------- Steph's part -------------*/
#projets {
    background-color: #113E37;
    height:100vh;
    
    overflow-x: hidden;
}
#slider p {
    color: #31796C;
}
.titre{
    text-align: center;
    font-size: 200%;
    font-weight: bold;
    padding-top: 2%;
    padding-bottom: 2%;
}

figure{
    display: flex;
    width: 100%;
}

.box{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

div#slider figure p.name{
    font-size: large;
    font-weight: bold;
    text-align: right;
}

div#slider figure img { 
    min-height: 180px; 
    /*padding-left: 10px;*/
    padding-right: 40px;
    /*border-radius: 8%;*/
}

#origami{
    padding-right: 75%;
}

div#slider figure p{
    width: 80%;
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 10px;
    padding-right: 10px;
    text-align: justify;
}

@keyframes slidy {
    0% { left: 0%; }
    20% { left: 0%; }
    25% { left: -100%; }
    45% { left: -100%; }
    50% { left: -100%; }
    70% { left: 0%; }
    75% { left: 0%; }
    95% { left: 0%; }
    100% { left: 0%; }
  }

div#slider figure {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    left: 0;
    animation: 30s slidy infinite;
}

#services {
    background-color: #889781;
    
}

div#scroll figure p.name{
    font-size: large;
    font-weight: bold;
    text-align: right;
}

div#scroll figure img { 
    min-height: 180px; 
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 20px 20px 20px 20px;
}

div#scroll figure #origami{
    padding-right: 90%;
}

div#scroll figure p{
    width: 80%;
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 10px;
    padding-right: 10px;
    text-align: justify;
}

footer{
    padding-top: 10px;
    padding-bottom: 10px;
    height: 100%;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}
